{% extends 'base.html' %}

{% block body %}
    
    <div class="about_body">
            <div class="about_image">
                <img src="/media/homepage-images/about.webp" alt="">
            </div>
            <h1>ABOUT US</h1>
            <div class="about_content">
                <i>
                Welcome to Melta, where furniture meets timeless elegance and innovative design.
                <br>
                <br>
                At Melta, we believe that a home should be more than just a space—it should be a reflection of your unique style, comfort, and personality. That's why we’ve made it our mission to bring you furniture that not only enhances your living spaces but also transforms them into places where memories are made.
                <br>
                <br>
                With a passion for craftsmanship and a dedication to quality, each piece of furniture we create is designed to offer both functionality and beauty. From sleek modern designs to cozy classic pieces, our wide range of products is tailored to fit any aesthetic and lifestyle.
                <br>
                <br>
                Whether you're furnishing a new home or refreshing your favorite space, our goal is to help you curate a home that feels uniquely yours. Let us inspire you with our exceptional designs, unparalleled customer service, and a vision for a better, more beautiful home.
                <br>
                Thank you for choosing Melta, where we turn houses into homes, one piece of furniture at a time.
                <br>
                This text emphasizes the high-quality, innovative, and sustainable nature of your furniture while highlighting Melta's commitment to customer satisfaction and timeless design.
            </i>
                <div class="about_buton">
                    <a  href=""><button class="about_btn">Contact Us</button></a>
                </div>
            </div>
        
    </div>
{% endblock body %}
    