{% extends "base.html" %}

{% block body %}
<div><h1>Checkout</h1>
<div class="checkout">
    <div class="checkout_left">
      <div class="checkout_fields">
        <div class='checkout_fields_product'>Products</div>
        <div class="fields_detail">
          <span class='fields_det_element'>Price</span>
          <span class='fields_det_element'>Quantity</span>
          <span class='fields_det_element'>Subtotal</span>
          <span class='fields_det_element'></span>
        </div>
      </div>
    

      {% if order %}
      {% for ord in order %}
      <div class="table_row">
        <div class="table_row_detail">
          <a href="{% url 'products-details' ord.product.id %}"><img src="{{  ord.product.get_main_image }}" alt="" id="img_border" /></a>
          <div class="media_text">
            <h4>{{ord.product.name}}</h4>
            <span>Color: {{ord.product.color.clName|title}}</span>
          </div>
        </div>
        <div class="fields_detail">
          <span class='fields_det_element'>${{ord.product.price|floatformat:2}}</span>
          <div class="pro_card_buy fields_det_element">
              <div class="pro_check_count">
                <form action="{% url 'update-order' ord.id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" value="decrement" name="action">
                  <button id='' onclick="" title="Minus"   type="submit" ><i   class="fa-solid fa-minus"></i></button>
                </form>
                <input readonly type="number" class="check_count_input" form="checking_form" value="{{ord.quantity}}" name='quantity' id='pro_count_{{ord.product.id}}'>
                <form action="{% url 'update-order' ord.id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" value="increment" name="action">
                  <button id='' onclick="" title="Plus" type="submit"><i id='' class="fa-solid fa-plus"></i></button>
                </form>
                
              </div>
          </div>
          <span class='fields_det_element'>${{ord.price|floatformat:2}}</span>
          <span class='fields_det_element'>
            <a href="{% url 'delete-order' ord.id %}">
              <i id="delete_card" class="fa-regular fa-trash-can" style="color: #f90101;"></i>
            </a>
          </span>
         
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p style="color:grey;text-align:center;width:100%;height:100%;margin-top:50px;">You don't have any items added.</p> 
      {% endif %}
     

      
    </div>

    <div class="checkout_right">
      <div class="subtotal">
        <h4>Subtotal</h4>
        <h4>${{ user_order_summary.subtotal}}</h4>
      </div>
      
      
      <div class="">
        <span style="text-align:left;">Enter Discount Code</span>
        <div class="coupon">
          {% if user_order_summary.discounts%}

            <div class="add_coupon_input">
            <div class="add_coupon_code">{{user_order_summary.discounts}}</div>
            <a href="{% url 'delete-discount'%}"><i class="fa-solid fa-x" style="color: #a3a3a3;"></i></a>
          </div>
          {% else %}
            <form class="coupon_input" method="post" action="{% url 'apply-discount' %}">
              {% csrf_token %}

              <input required type="text" id="coupon-code" value="" name="discount_code" placeholder="Enter discount code"/>
              
              <button type="submit" id="apply-coupon">Apply</button>
            </form>
          {% endif %}
              <div  class="">
                
                {% if messages %}
                    
                    {% for message in messages %}
                    {% if  message.tags == 'warning' %}
                    <span style="font-size: 10px;color:red">{{message}}</span>
                    {% else %}
                    <span style="font-size: 10px;color:green">{{message}}</span>
                  {% endif %}
                    {% endfor %}
                      
                  
                {% endif %}
                  
              </div>
      </div>

      
    </div>
    

    <div class="delivery">
      <div>Delivery charge<span>(1kg-$1)</span></div>
      <div>
        
        ${{user_order_summary.total_delivery_cost}}
        
      </div>
    </div>
    {% if user_order_summary.discount_value %}
    <div class="delivery">
      
      <div>Discount</div>
      <div>-${{user_order_summary.discount_value}} </div>
      
    </div>
    {% endif %}

      <div class="total">
        <h4>Grand Total</h4>
        <h4 >${{user_order_summary.grand_total}}</h4>
      </div>

      {% if user_order_summary.grand_total > 0 %}
      <div class="">
        <a href="{% url 'shipping' %}"><button id="proceed-to-checkout">Proceed to Checkout</button></a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock body %}