{% extends "base.html" %}
{% block body %}
    <div class="">

      <div class="">
        <div class="profile_head">
          <div class="profile_head_text">
            <h1>My Profile</h1>
          </div>
          {% if search_place %}
          <span style='display:flex;align-items:center;' class="filtered_value">Searched Word : "{{search_place}}" <a href="{% url 'my-order' %}"><i style="padding-left: 5px;" onclick="place_reset();" class="fa-solid fa-xmark"></i></a></span>
          {% endif %}
          <div class="profile_search">
            <form action="{% url 'my-order' %}"   id="order_search" method="get">
              {% csrf_token %}
            <input {% if search_place %} value={{search_place}} {% endif %} onkeypress='order_search(event)'
               class="" form='order_search' type="text" name="search_place" placeholder="Search" id="search_place">
               <i class="fa-solid fa-magnifying-glass"></i>
            </form>
              <div class="filter_btn">
                <button>Filter <i class="fa-solid fa-sliders"></i></button>
              </div>

          </div>
        </div>
      </div>

      <div class="profile_content">
        <div class="sidebar">
          <div class="profile_setings">
              <div class="profile_img_sidebar">
                <img src="{{ request.user.profilpicture.image.url}}" alt="Profile Picture" />
              </div>
              <div class="greeting">
                  <p>Hello <span class="wave">👋</span></p>
                  <h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
              </div>
          </div>
          <ul class="menu">
            <a href="{% url 'my-profil' %}"><li ><img src="/media/login/user.svg" alt=""><span>Personal Information</span></li></a>
            <a href="{% url 'my-order'%}"><li class="active"><img src="/media/login/box.svg" alt=""><span>My Orders</span></li></a>
            <a href="{% url 'my-wishlist'%}"><li ><img src="/media/login/heart.svg" alt=""><span>My Wishlists</span></li></a>
            <a href="{% url 'manage-address'%}"><li ><img src="/media/login/location.svg" alt=""><span>Manage Addresses</span></li></a>
            <a href="{% url 'saved-cards'%}"><li><img src="/media/login/card.svg" alt=""><span>Saved Cards</span></li></a>
            <a href="{% url 'notifications'%}"><li ><img src="/media/login/notification.svg" alt=""><span>Notifications</span></li></a>
            <a href="{% url 'my-settings'%}"><li ><img src="/media/login/setting.svg" alt=""><span>Settings</span></li></a>
          </ul>

      </div>

        <div class="profile_right">
          {% if place_order %}
          {% for ord in place_order %}
          <div class="my_orders_pro">

            <div class="my_order_product">
              
              <div class="detail_left">

                <div class="my_order_pro_img">
                  <img src="{{ord.product.get_main_image}}" alt="" />
                </div>

                <div class="my_order_pro_detail">
                  <h5>{{ord.product.name}}</h5>
                  <span>{{ord.product.color}}</span>
                  <span>QTY: {{ord.quantity}}</span>
                </div>

              </div>

              <div class="detail_right">
                
                <div class="price_detail">
                  <h4>${{ord.price}}</h4>
                </div>

                <div class="order_btn">
                  <div class="view_order_btn">
                    <a href="{% url 'checkout' %}"><button id="view_order_btn">View Order</button></a>
                  </div>
                  <div class="review_btn">
                    <a href="{% url 'products-details' ord.product.id %}"><button id="review_btn">Write A Review</button></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="info_text">
              {% if ord.status %}
                <span id="delivered_effect">Delivered</span>
                <span>Your product has been delivered</span>
                {% else %}
                <span id="process_effect">In Process</span>
                <span>Your product has been Inprocess</span>
              {% endif %}
              
            </div>


          </div>
          {% endfor %}
          {% else %}
            <p class="notProducts" >You do not have any orders.</p>
          {% endif %}
        </div>
    </div>


      {% endblock body %}

      

