{% extends "base.html" %}
{% block body %}


    <div class="order_summery">
      <div class="container">
        <div class="order">
          <div>
          <div class="order_head_text">
            <h1>Review Your Order</h1>
          </div>

          <div class="order_body">
            <div class="order_left">
              <div class="order_img">
                <img src="/media/homepage-images/order.png" alt="" />
              </div>

              <div class="order_content">
                <div class="order_head">
                  <h3>Estimated delivery: 23 July 2024</h3>
                </div>
                <div class="order_list">
                  {% if order %}
                    
                    {% for ord in order %}
                    <div class="order_product">
                      <div class="order_pro_img">
                        <a href="{% url 'products-details' ord.product.id %}"><img src="{{  ord.product.get_main_image }}" alt="" /></a>
                      </div>
                      <div class="order_pro_detail">
                        <h5>{{ord.product.name}}</h5>
                        <span>${{ord.price}}</span>
                        <span>QTY:{{ord.quantity}}</span>
                      </div>
                    </div>
                    {% endfor %}
                      
                  {% endif %}

                </div>

                <div class="buy_details_order">
                  <div class="shipping_address_content">
                  <div class="shipping_add_text">
                    <h3>Shipping Address</h3>
                  </div>
                  <div class="adress_edit">

                  {% if user_order_summary %}

                    <div class="adress_edit_name">
                      <h4>{{user_order_summary.address.name}}</h4>
                      <span class="address_details">
                        <span>{{user_order_summary.address.flat}}</span><span>{{user_order_summary.address.Area}}</span><span>{{user_order_summary.address.city}}</span><span>{{user_order_summary.address.country}}</span><span>{{user_order_summary.address.pin}}</span>
                      </span>
                    </div>

                    <div>
                      <button class="adress_edit_btn">
                        <a href="{% url 'update-address' user_order_summary.address.id %}">
                          <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                      </button>                      
                    </div>
                  {% endif %}
                </div>
              </div>

                  <div class="shipping_address_content">

                    <div class="payment_meth_text">
                      <h3>Payment Method</h3>
                    </div>

                    <div class="payment_info">
                        
                      {% if user_order_summary %}
                      <h4>Debit Card (.... .... .... ..{{user_order_summary.payments.transaction_id|slice:'-2:'}})</h4>
                      <button class="adress_edit_btn">
                        <a href="{% url 'update-card' user_order_summary.payments.id %}">
                          <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                      </button>     
                      {% endif %}
                    </div>

                  </div>

                  
                </div>
              </div>
            </div>

            <div class="checkout_right">
              <div class="subtotal">
                <h4>Subtotal</h4>
                <h4>${{ user_order_summary.subtotal|floatformat:2}}</h4>
              </div>

              <div>
              <span>Enter Discount Code</span>

              <div class="coupon">
                {% if user_order_summary.discounts %}

                <div class="add_coupon_input">
                  <div class="add_coupon_code">{{user_order_summary.discounts}}</div>
      
                    <a href="{% url 'delete-discount'%}"><i class="fa-solid fa-x" style="color: #a3a3a3;">
                      </i>
                    </a>
      
                  </div>
                {% else %}
                  <form class="coupon_input" method="post" action="{% url 'apply-discount' %}">
                    {% csrf_token %}
      
                    <input required type="text" id="coupon-code" value="" name="discount_code" placeholder="Enter discount code"/>
                    
                    <button type="submit" id="apply-coupon">Apply</button>
                  </form>
                {% endif %}
      
              <div>
              </div>

              <div>
                  
                {% if messages %}
                    
                    {% for message in messages %}
                    {% if  message.tags == 'warning' %}
                    <span style="font-size: 10px;color:red">{{message}}</span>
                    {% else %}
                    <span style="font-size: 10px;color:green">{{message}}</span>
                  {% endif %}
                    {% endfor %}
                      
                  
                {% endif %}
                  
              </div>

            </div>
              <div class="delivery">
                <div>Delivery charge</div>
                <div>${{user_order_summary.total_delivery_cost|floatformat:2}}</div>
              </div>

              {% if user_order_summary.discount_value > 0 %}
              <div class="delivery">
                
                <div>Discount</div>
                <div>-${{user_order_summary.discount_value}}</div>
                
              </div>
              {% endif %}

              <div class="total">
                <h4>Grand Total</h4>
                <h4>${{user_order_summary.grand_total|floatformat:2}}</h4>
              </div>

              <div class="checkout">
                <a href="{% url 'add-place' %}">
                  <button onclick="confirmed_view()" id="place_order_btn">Place order</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="confirmed_messages">
      <div class="confirmed_card">
        <div class="confirmed_icon">
          <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="confirmed_detail">
          <h2>Your order is confirmed</h2>
          <p>
            Thanks for shopping! 
            your order hasn’t shipped yet, 
            but we will send you and email when it done.
          </p>
        </div>
        <div class="confirmed_button">
          <a onclick='confirmed_false()' href="{% url 'my-order' %}"><button class="confirmed_view">View Order</button></a>
          <a onclick='confirmed_false()' href="{% url 'home' %}"><button class="confirmed_back">Back to Home</button></a>
        </div>
      </div>
    </div>
    {% endblock body %}


    <!-- <div id="orderModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Order Confirmation</h1>
        <p>Your order is confirmed. Thanks for shopping!</p>
        <p>Your order hasn’t shipped yet, but we will send you an email when it’s done.</p>
      </div>
    </div> -->



    