{% extends "base.html" %}

{% block body %}
  <div id="container" class="container">
    <div class="shown_products">
        Shop <i class="fa-solid fa-angle-right"></i> {{product.name}}
    </div>

    <div class="details_body">
        <div class="pro_detail">
            <div class="imgs_details">
                <div class="img_detail"> <img onclick="toggleFullscreen('detail_img')" id='detail_img' src="{{product.get_main_image}}" alt=""></div>
                <div class="det_choices">
                    <i id="choices_left" class="fa-solid fa-chevron-left"></i>
                <div id="imgs_choices" class="imgs_choices">
                    
                    {% for image in product.images.all %}
                    <div id='pro_choices' class="pro_choices">
            <img src="{{ image.images.url }}" alt=""  onclick="changeMainImage('{{ image.images.url }}')">
             </div>
            {% endfor %}
                   
            
                </div>
                <i id="choices_right" class="fa-solid fa-chevron-right"></i>
            </div>
            </div>

            <div class="about_detail">
                <p>{{product.brand}}</p>
                <h3>{{product.name}}</h3>
                <div>
                    <span id="pro_rate" class="pro_rate">
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                        <i title="s" class="fa-regular fa-star" style="color: #d1d1d1;"></i>
                    </span> <span style="color:grey">
                    <input id="average_rating" class="average_rating" type="hidden" value="{{average_rating}}">
                    {{average_rating|floatformat:1}}({{product.comments.count}} Reviews)</span></div>
                <p>${{product.price|floatformat:2}}</p>
                
                    <p>{{product.descriptions}}</p>
                <ul>
                    <li><h5>Color</h5><ul>
                        <li  class="color_li"><a href="{% url 'products-details' product.id %}"><div class="color" style='background-color: {{product.color.color_code }}'></div></a></li>
                        {% if products %}
                        {% for product in products %}
                        <li  class="color_li"><a href="{% url 'products-details' product.id %}"><div class="color" style='background-color: {{ product.color.color_code }} '></div></a></li>
                        {% endfor %}
                                        
                        {% endif %}
                    </ul></li>   
                </ul>
                <div class="pro_buy">
                    <div class="pro_count">
                        <button id='pro_minus_{{ord.product.id}}' onclick="pro_Minus(event,'{{ord.product.id}}')" title="Minus" disabled=""  type="button" ><i   class="fa-solid fa-minus"></i></button>
                        <input readonly type="number" class="count_input" form="checking_form" value="1" name='quantity' id='pro_count_{{ord.product.id}}'>
                         <button id='pro_plus_{{ord.product.id}}' onclick="pro_Plus(event,'{{ord.product.id}}')" title="Plus" type="button"><i id='' class="fa-solid fa-plus"></i></button>
                </div>
                    <form action="" id="checking_form" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{product.id}}" form="checking_form" name="product_id">
                    </form>
                    <button type="submit" form="checking_form" class="pro_btn">Add To Card</button>
                    <div class="pro_heart"><i class="fa-regular fa-heart"></i></div>
                </div>
                <div class="pro_share"> <ul><h5>Share</h5>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    </li></ul>
                </div>
                
                    
                    {% if product.instock %}
                    <div class="pro_stock">  In stock </div>
                    {% else %}
                        <div class="pro_Nstock"> Not stock </div>
                    {% endif %}
                        
                
            </div>

        </div>
        <div class="detail_info">
            <ul>
                <li><p class='active' id='det_des'>Descriptions</p></li>
                <li><p id='det_add' >Additional Information</p></li>
                <li><p id='det_rev' >Reviews</p></li>
            </ul>
            <div id='det_info_det' class="det_info_det">
                {% include "pro_comment.html" %}
                {% include "pro_additional.html" %}
                {% include "pro_description.html" %}
            </div>
        </div>
    </div>

    <div class="related_product">
        <h2>Related Products</h2>
        <div id="rel_detail" class="rel_detail">
            {% for rel in related %}
            <a href="{% url 'products-details' rel.id %}">
                <div id="rel_pro" class="product">
                    <div class="pro_image">
                        <img src="{{rel.get_main_image}}" id="rel_image_{{ rel.id }}" alt="">
                        <div class="img_icons">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-solid fa-right-left"></i>
                    <i class="fa-regular fa-eye" onclick="toggleFullscreen(event,'rel_image_{{ rel.id }}')"></i>
                        </div>
                    </div>
                    <div class="pro_about">
                        <div class="pro_brand">{{rel.brand}}</div>
                        <div class="pro_name">{{rel.name}}</div>
                        <div class="pro_price">${{rel.price|floatformat:2}}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    
  </div>
  </div>
  
  {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="messages success">
        {{message}}
    </div>
    {% else %}
    <div class="messages warning">
        {{message}}
    </div>
    {% endif %}
    {% endfor %}
  {% endif %}
    
{% endblock body %}